.head{
  padding: 30px;
  background-color: royalblue;
  color: white;
  text-align: center;
  font-size: 25px;
  margin: 10px;
  width: inherit
}

.items-container{
  display: flex;
  width: inherit
}

.item{
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: silver;
  width: 100%
}

.colorcode{
  text-align: center;
  padding: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  width: 100%
}

@media screen and (max-width: 620px){
  .items-container{display: block;}
  .item{width: inherit}
  .color-item{width: inherit}
}
