.container{
  display: block;
  margin: 10px
}

.header{
  padding: 30px;
  background-color: royalblue;
  color: white;
  text-align: center;
  font-size: 25px;
  margin: 10px;
  width: inherit
}

.items-container{
  display: flex;
  width: inherit
}

.article-item{
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: silver;
  width: 100%
}

.article-title{
  font-weight: bold;
}

.color-item{
  text-align: center;
  padding: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  width: 100%
}

.background-color-blue{background-color: rgb(60,138,228)}
.background-color-yellow{background-color: rgb(231,187,93)}
.background-color-green{background-color: rgb(93,231,190)}
.background-color-pink{background-color: rgb(231,93,127)}

@media screen and (max-width: 620px){
  .container{margin: 10px}
  .items-container{display: block;}
  .article-item{width: inherit}
  .color-item{width: inherit}
}
